.image-shape {
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}
:root{
    --puzzle: "M631.7 224.1c.4-.9.7-1.8 1-2.7-5.8-4.8-9.5-12-9.5-20.1 0-14.4 11.7-26.1 26.1-26.1 14.4 0 26.1 11.7 26.1 26.1 0 8.1-3.7 15.3-9.4 20.1.3.9.6 1.8 1 2.7 22.2 1 44.4 4 66.3 8.9 4.9-21.9 7.8-44.1 8.9-66.4.9-.4 1.8-.7 2.7-1 4.8 5.8 12 9.5 20.1 9.5 14.4 0 26.1-11.7 26.1-26.1 0-14.4-11.7-26.1-26.1-26.1-8.1 0-15.3 3.7-20.1 9.5-.9-.3-1.8-.6-2.7-1-1-22.3-4-44.5-8.9-66.4-21.9 4.9-44 7.8-66.3 8.9-.4.9-.7 1.8-1 2.7 5.8 4.8 9.4 12 9.4 20.1 0 14.4-11.7 26.1-26.1 26.1-14.4 0-26.1-11.7-26.1-26.1 0-8.1 3.7-15.3 9.5-20.1-.3-.9-.6-1.8-1-2.7-22.2-1-44.4-4-66.3-8.9v.1c-4.9 21.9-7.8 44.1-8.8 66.3-.9.4-1.8.7-2.7 1-4.8-5.8-12-9.5-20.1-9.5-14.4 0-26.1 11.7-26.1 26.1 0 14.4 11.7 26.1 26.1 26.1 8.1 0 15.3-3.7 20.1-9.5.9.3 1.8.6 2.7 1 1 22.3 4 44.5 8.8 66.3v.1c21.9-5 44.1-7.9 66.3-8.9z";
    --puzzle2: "M220.8 502.7c-.9-.4-1.8-.7-2.7-1-4.8 5.8-12 9.5-20.1 9.5-14.4 0-26.1-11.7-26.1-26.1 0-14.4 11.7-26.1 26.1-26.1 8.1 0 15.3 3.7 20.1 9.5.9-.3 1.8-.6 2.7-1 1-22.3 4-44.5 8.8-66.4-21.9-4.9-44-7.8-66.3-8.9-.4-.9-.7-1.8-1-2.7 5.8-4.8 9.4-12 9.4-20.1 0-14.4-11.7-26.1-26.1-26.1-14.4 0-26.1 11.7-26.1 26.1 0 8.1 3.7 15.3 9.4 20.1-.3.9-.6 1.8-1 2.7-22.3 1-44.4 4-66.3 8.9 4.9 21.9 7.8 44.1 8.8 66.4.9.4 1.8.7 2.7 1 4.8-5.8 12-9.5 20.1-9.5 14.4 0 26.1 11.7 26.1 26.1 0 14.4-11.7 26.1-26.1 26.1-8.1 0-15.3-3.7-20.1-9.5-.9.3-1.8.6-2.7 1-1 22.3-4 44.5-8.8 66.4h.1c21.8 4.9 44 7.8 66.2 8.9.4.9.7 1.8 1 2.7-5.8 4.8-9.4 12-9.4 20.1 0 14.4 11.7 26.1 26.1 26.1 14.4 0 26.1-11.7 26.1-26.1 0-8.1-3.7-15.3-9.4-20.1.3-.9.6-1.8 1-2.7 22.2-1 44.4-4 66.2-8.9h.1c-4.9-21.9-7.8-44.1-8.8-66.4z";
}
body{
    height: 400vh;
    font-family: 'Dosis', sans-serif;
    overflow-x: hidden;
}
h2{
    margin-bottom: 10px;
}
nav{
    background-color: rgba(201, 183, 183, 1);
}
section{
    height: 25%;
}
a{
    color: black;
}
.week-margin{
    margin-bottom: 20px;
}
.line {
    border-top: 1px solid black;
}
.vertical-text{
    writing-mode: vertical-lr;
    text-orientation: sideways;
    transform: rotate(180deg);
    margin-bottom: 150%;
    text-align: right;
}
#intro{
   width: 100%;
   height: 100vh;
   /* background-image: url('./images/me_h.jpg'); */
   background-color: rgba(201, 183, 183, 1);
   /* background-size: cover; */
   display: flex;
   align-items: center;
   padding-right:10vh;
}
#gallery{
    background-image: url('./images/dark_4.jpg');
    filter: grayscale(10%);
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    position:absolute;
    gap: 10px;
 }
.puzzle{
    height: 10px;
    width: 10px;
    position: relative;
    clip-path: path(var(--puzzle));
}
.blue-bg{
    background-color: rgba(197, 236, 252, 0.5);   
}
.bold{
    font-weight: 700;
}
.nav-link{
    color:black;
}
.space{
    border-right: 30px;
}


